:root {
    --principalFont: 'Nunito Sans', sans-serif;
    --whiteColor: #fff;
    --bgColor: #fafafa;
    --headerBgColor: #fff;
    --headerTextColor: #000000;
    --headerDivisorColor: #efefef;
    --shadowBoxColor: #e6e0e0;    
}

body {
    font-family: var(--principalFont);
    font-size: 16px;
    background-color: var(--bgColor);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    padding: 1em 2em;
    box-sizing: border-box;
    border-bottom: solid 2px var(--headerDivisorColor);
    background-color: var(--headerBgColor);
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 2em;
    box-sizing: border-box;
}

h1 {
    font-size: 1.1em;
    font-weight: 800;
    color: var(--headerTextColor);
}

h2 {
    font-weight: 800;
    margin: 1.5em 0 1em;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
}

.search-country {
    height: 3em;
    width: 25em;
    border-radius: 3px;
    border: none;
    padding: 0 3em;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px var(--shadowBoxColor);
    background: url(../images/search-outline.svg) no-repeat;
    background-size: 1.5em;
    background-position: 1em;
    background-color: var(--whiteColor);
}

.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    width: 12em;
    border-radius: 3px;
    padding: 0 0.5em;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px var(--shadowBoxColor);
    background-color: var(--whiteColor);
}

.dropbtn:hover {
    cursor: pointer;
}

.dropbtn p {
    font-size: 0.9em;
    font-weight: 600;
}

.dropdown {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 8.5em;
    width: 12em;
    margin: 8.5em 2em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px var(--shadowBoxColor);
    background-color: var(--whiteColor);
}

.dropdown a {
    font-weight: 600;
    margin: 0.2em 0;
}

.switch-theme {
    display: flex;
    align-items: center;
}

.switch-theme:hover {
    cursor: pointer;
}

.switch-theme p {
    font-weight: 600;
    margin-left: 0.3em;
    color: var(--headerTextColor);
}

#switch-theme {
    visibility: hidden;
}

.countries-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.country-container {
    height: 20em;
    width: 16em;
    margin: 0.5em 1.8em;
    margin-top: 1;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: 1px 1px 5px 1px var(--shadowBoxColor);
}

.flag {
    height: 10em;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://flagcdn.com/de.svg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.info-country-container {
    padding: 0 1em;
    box-sizing: border-box;
    background-color: #fff;
}

.info-country-container p {
    font-size: 0.9em;
    font-weight: 600;
    margin: 0.5em 0;
}

.info-country-container strong {
    font-weight: 300;
}