:root {
    --principalFont: 'Nunito Sans', sans-serif;
    --headerBgColor: none;
    --headerTextColor: #000000;
    --headerDivisorColor: #efefef;
    --shadowBoxColor: #cac4c4;
}

body {
    font-family: var(--principalFont);
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5em;
    width: 100vw;
    padding: 1em 2em;
    box-sizing: border-box;
    border-bottom: solid 2px var(--headerDivisorColor);
    background-color: var(--headerBgColor);
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 2em;
    box-sizing: border-box;
    /*background-color: red;*/
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
    /*background-color: green;*/
}

.search-country {
    height: 3em;
    width: 25em;
    border-radius: 3px;
    border: none;
    padding: 0 0.8em;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px var(--shadowBoxColor);
    background: url(../images/search-outline.svg) no-repeat;    
}

/* continuar desenvolvimento input search*/

.dropbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    width: 12em;
    border-radius: 3px;
    padding: 0 0.5em;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px 1px var(--shadowBoxColor);
}

.dropbtn:hover {
    cursor: pointer;
}

.dropbtn p {
    font-size: 0.9em;
    font-weight: 600;
}

.dropdown {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 8.5em;
    width: 12em;
    margin: 8.5em 2em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 2px 2px 20px 1px var(--shadowBoxColor);
}

.dropdown a {
    font-weight: 600;
    margin: 0.2em 0;
}

/* continuar desenvolvimento do input e o menu Dropdown */
/*  https://www.w3schools.com/howto/howto_js_dropdown.asp  */

h1 {
    font-size: 1.1em;
    font-weight: 800;
    color: var(--headerTextColor);
}

.switch-theme {
    display: flex;
    align-items: center;
}

.switch-theme:hover {
    cursor: pointer;
}

.switch-theme p {
    font-weight: 600;
    margin-left: 0.3em;
    color: var(--headerTextColor);
}

#switch-theme {
    visibility: hidden;
}